@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap');

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --apkt-background-primary: 0 0% 100%;
    --apkt-background-invert: 0 0% 13%;

    --apkt-foreground-primary: 0, 0%, 95%;
    --apkt-foreground-secondary: 0, 0%, 91%;
    --apkt-foreground-tertiary: 0, 0%, 82%;
    --apkt-foreground-accent: 231, 100%, 70%;

    --apkt-border: 0, 0%, 91%;
    --apkt-border-secondary: 0, 0%, 82%;
    --apkt-border-accent: 231, 100%, 70%;
    --apkt-border-accent-certified: 44, 31%, 68%;
    --apkt-border-success: 0.42 55% 42%;
    --apkt-border-error: 0.02 73% 54%;
    --apkt-border-warning: 0.09 88% 60%;

    --apkt-text-primary: 0, 0%, 13%;
    --apkt-text-secondary: 0, 0%, 60%;
    --apkt-text-tertiary: 0, 0%, 42%;
    --apkt-text-invert: 0, 0%, 100%;

    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --radius: 0.5rem;

    --apkt-border-sm: 8px;
    --apkt-border-md: 12px;
    --apkt-border-lg: 16px;
  }
  .dark {
    --apkt-background-primary: 0 0% 13%;
    --apkt-background-invert: 0 0% 100%;

    --apkt-foreground-primary: 0 0% 15%;
    --apkt-foreground-secondary: 0 0% 16%;
    --apkt-foreground-tertiary: 0 0% 21%;
    --apkt-foreground-accent: 207 92.8% 48.8%;

    --apkt-border: 0 0% 16%;
    --apkt-border-secondary: 0 0% 31%;
    --apkt-border-accent: 0.64 1% 70%;
    --apkt-border-accent-certified: 0.12 31% 68%;
    --apkt-border-success: 0.42 55% 42%;
    --apkt-border-error: 0.02 73% 54%;
    --apkt-border-warning: 0.09 88% 60%;

    --apkt-text-primary: 0 0% 100%;
    --apkt-text-secondary: 0 0% 60%;
    --apkt-text-tertiary: 0 0% 73%;
    --apkt-text-invert: 0 0% 13%;

    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@font-face {
  font-family: 'KHTeka';
  src: url('https://res.cloudinary.com/dn7w4dnog/raw/upload/v1732023137/KHTeka-Light_jzizi3.woff')
    format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'KHTeka';
  src: url('https://res.cloudinary.com/dn7w4dnog/raw/upload/v1732023137/KHTeka-Regular_rgphis.woff')
    format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'KHTeka';
  src: url('https://res.cloudinary.com/dn7w4dnog/raw/upload/v1732023137/KHTeka-Medium_dzj5on.woff')
    format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'KHTekaMono';
  src: url('https://res.cloudinary.com/dn7w4dnog/raw/upload/v1732023137/KHTekaMono-Regular_nytitk.woff')
    format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
