:host {
  display: inline-block;
}

button {
  padding: 0 15px;
  height: 40px;
  border-radius: 10px;
  color: var(--color-fg-inverse);
  background-color: var(--color-fg-accent);
}

button::after {
  content: '';
  inset: 0;
  position: absolute;
  background-color: transparent;
  border-radius: inherit;
  transition: background-color 0.2s ease;
  border: 1px solid var(--color-overlay);
}

button:hover::after {
  background-color: var(--color-overlay);
}

button:disabled {
  padding-bottom: 0;
  background-color: var(--color-bg-3);
  color: var(--color-fg-3);
}

.w3m-secondary {
  color: var(--color-fg-accent);
  background-color: transparent;
}

.w3m-secondary::after {
  display: none;
}
