version: 2
updates:
  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'weekly'
    labels:
      - 'chore: update `@walletconnect/*`, `viem` and `@wagmi/*` dependencies'
    groups:
      # All @walletconnect/* that installed in any package.json in the repo
      'walletconnect':
        dependency-type: 'production'
        patterns:
          - '@walletconnect/*'
      # All viem and @wagmi/* that installed in any package.json in the repo
      'viem-wagmi':
        dependency-type: 'production'
        patterns:
          - 'viem'
          - '@wagmi/*'
  - package-ecosystem: 'npm'
    directory: '/apps/laboratory'
    schedule:
      interval: 'weekly'
    labels:
      - 'chore: update third party dependencies for AppKit Lab'
    groups:
      'lab-third-parties':
        dependency-type: 'production'
        patterns:
          - '@bitcoinerlab/*'
          - '@chakra-ui/*'
          - '@coinbase/*'
          - '@safe-global/*'
          - '@tanstack/*'
          - '@sentry/*'
          - '@wallet-standard/*'
          - 'bitcoinjs-lib'
          - 'bs58'
          - 'date-fns'
          - 'framer-motion'
          - 'next'
          - 'next-auth'
          - 'react-icons'
          - 'rpc-websockets'
          - 'webauthn-p256'
    ignore:
      - dependency-name: '*'
        update-types: ['version-update:semver-major']
  - package-ecosystem: 'npm'
    directory: '/apps/demo'
    schedule:
      interval: 'weekly'
    labels:
      - 'chore: update third party dependencies for AppKit Demo'
    groups:
      'demo-third-parties':
        dependency-type: 'production'
        patterns:
          - '@reown/*'
          - '@radix-ui/*'
          - '@dnd-kit/*'
          - '@hookform/resolvers'
          - '@next/third-parties'
          - '@sentry/*'
          - '@solana/web3.js'
          - '@tanstack/react-query'
          - 'autoprefixer'
          - 'class-variance-authority'
          - 'classnames'
          - 'clsx'
          - 'next'
          - 'next-themes'
          - 'react'
          - 'react-dom'
          - 'sonner'
          - 'tailwind-merge'
          - 'tailwindcss-animate'
    ignore:
      - dependency-name: '*'
        update-types: ['version-update:semver-major']
  - package-ecosystem: 'npm'
    directory: '/packages/'
    schedule:
      interval: 'weekly'
    labels:
      - 'chore: update dependencies'
    groups:
      # All "dependencies" that `packages/*` depends on
      'all-production-dependencies':
        dependency-type: 'production'
        patterns:
          - '*'
      # All "devDependencies" that `packages/*` depends on
      'all-development-dependencies':
        dependency-type: 'development'
        patterns:
          - '*'
    ignore:
      - dependency-name: '*'
        update-types: ['version-update:semver-major']
