span {
  font-style: normal;
  font-family: var(--w3m-font-family);
  font-feature-settings: 'tnum' on, 'lnum' on, 'case' on;
}

.w3m-xxsmall-bold {
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.w3m-xsmall-normal {
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.03em;
}

.w3m-small-thin {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.03em;
}

.w3m-small-normal {
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.03em;
}

.w3m-medium-thin {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.03em;
}

.w3m-medium-normal {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.03em;
}

.w3m-big-bold {
  font-weight: var(--w3m-text-big-bold-weight);
  font-size: var(--w3m-text-big-bold-size);
  line-height: var(--w3m-text-big-bold-line-height);
  letter-spacing: var(--w3m-text-big-bold-letter-spacing);
  text-transform: var(--w3m-text-big-bold-text-transform);
}

:host(*) {
  color: var(--w3m-color-fg-1);
}

.w3m-color-primary {
  color: var(--w3m-color-fg-1);
}

.w3m-color-secondary {
  color: var(--w3m-color-fg-2);
}

.w3m-color-tertiary {
  color: var(--w3m-color-fg-3);
}

.w3m-color-inverse {
  color: var(--w3m-accent-fill-color);
}

.w3m-color-accnt {
  color: var(--w3m-accent-color);
}

.w3m-color-error {
  color: var(--w3m-error-color);
}
