dist
node_modules
.DS_Store
.env
.idea
.next
out
lerna-debug.log
.env.local
.turbo
playwright-report/
screenshots/
coverage
test-results
.vscode/*
apps/laboratory/playwright/.auth/user.json
tsconfig.tsbuildinfo
.cache-synpress