.changeset
coverage
pnpm-lock.yaml
.nuxt
.svelte-kit
bundle-analysis.html
.open-next
/apps/pay-test-exchange/**.d.ts
.output/
node_modules/
.coverage/
test-results.json
playwright-report/
screenshots/
blob-report/
.cache-synpress/
.parcel-cache/
.turbo/
next-env.d.ts
