@font-face {
  font-family: 'ABC Diatype';
  src: url(/fonts/ABCDiatype-Regular.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ABC Diatype Bold';
  src: url(/fonts/ABCDiatype-Bold.woff2) format('woff2');
  font-style: normal;
}
