button {
  padding: 5px;
  border-radius: 10px;
  transition: all 0.2s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 90px;
}

w3m-network-image {
  width: 54px;
  height: 59px;
}

w3m-text {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  margin-top: 5px;
}

button:hover {
  background-color: var(--color-overlay);
}
