button {
  border-radius: 28px;
  height: 28px;
  padding: 0 10px;
  background-color: var(--w3m-color-fg-accent);
}

button path {
  fill: var(--w3m-color-fg-inverse);
}

button::after {
  border-radius: inherit;
  border: 1px solid var(--w3m-color-overlay);
}

button:disabled::after {
  background-color: transparent;
}

.w3m-icon-left svg {
  margin-right: 5px;
}

.w3m-icon-right svg {
  margin-left: 5px;
}

button:hover::after {
  background-color: var(--w3m-color-overlay);
}

button:disabled {
  background-color: var(--w3m-color-bg-3);
}
