@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=JetBrains+Mono:wght@400;500&display=swap');

:root {
  --apkt-background-primary: hsl(0 0% 100%);
  --apkt-background-invert: hsl(0 0% 13%);
  --apkt-foreground-accent-primary-010: rgba(9, 136, 240, 0.1);
  --apkt-border: hsl(0 0% 91%);
  --apkt-border-secondary: hsl(0 0% 82%);
  --apkt-text-primary: hsl(0 0% 13%);
  --apkt-text-accent-primary: rgba(9, 136, 240, 1);
  --apkt-text-secondary: hsl(0 0% 60%);
  --apkt-border-sm: 8px;
  --page-background-image-color: hsl(0, 0%, 87%);
}

.dark {
  --apkt-background-primary: hsl(0 0% 13%);
  --apkt-background-invert: hsl(0 0% 100%);
  --apkt-border: hsl(0 0% 16%);
  --apkt-border-secondary: hsl(0, 0%, 22%);
  --apkt-text-primary: hsl(0 0% 100%);
  --apkt-text-secondary: hsl(0 0% 60%);
  --page-background-image-color: hsl(0deg 0% 17.25%);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--apkt-text-primary);
  background: var(--apkt-background-primary);
  font-family:
    'Inter',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background: rgba(0, 0, 0, 0.1);
}

.dark {
  ::selection {
    background: rgba(255, 255, 255, 0.1);
  }
}

img {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

button {
  display: inline-flex;
  font-size: 14px;
  padding: 1rem 1.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 16px;
  background: var(--apkt-foreground-accent-primary-010);
  color: var(--apkt-text-accent-primary);
  border: none;
  transition: border-radius 0.3s ease;
  will-change: border-radius;
}

button:hover {
  border-radius: var(--radius-extra-radius-4, 24px);
}

button:active {
  box-shadow: 0px 0px 0px 4px rgba(9, 136, 240, 0.4);
}

h1 {
  margin: 20px;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  font-family: 'JetBrains Mono', monospace;
}

a {
  display: inline-flex;
  padding: 0px;
  justify-content: center;
  align-items: center;
  color: var(--apkt-text-secondary);
}

a:active {
  color: var(--apkt-text-primary);
}

a:focus {
  color: var(--apkt-text-accent-primary);
}

a:hover {
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
}

a:disabled {
  opacity: 0.3;
}

.page-title {
  color: var(--apkt-text-secondary);
  text-align: center;
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding: 2rem 1rem;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.logo-container {
  flex-direction: row;
}

.appkit-buttons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--apkt-spacing-2, 8px);
  flex-wrap: wrap;

  width: 100%;
  border: 1px solid var(--apkt-border-secondary);
  border-radius: var(--apkt-border-sm);
  padding: var(--apkt-spacing-2, 8px);
  min-height: 200px;

  background-image: radial-gradient(var(--page-background-image-color) 1px, #ffffff00 1px);
  background-size: 16px 16px;
  background-position: -16px -8px;
}

.action-button-list {
  display: flex;
  flex-direction: flex;
  align-items: center;
  justify-content: center;
  gap: var(--apkt-spacing-2, 8px);
  flex-wrap: wrap;
}

.code-container-wrapper {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 16px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.code-container {
  border: 1px solid var(--apkt-border-secondary);
  border-radius: var(--apkt-border-sm);
  padding: var(--apkt-spacing-4, 8px);
  margin: 0px;
  width: 100%;
}

.code-container-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 0.25rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--apkt-border-secondary);
  font-family: 'JetBrains Mono', monospace;
}

.code-container-content {
  font-size: 14px;
  line-height: 1.5;
  height: 250px;
  overflow: auto;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  flex-wrap: wrap;
}

.warning {
  color: var(--apkt-text-secondary);
  font-size: 12px;
}

@media screen and (max-width: 768px) {
  .logo-container {
    flex-direction: column;
  }

  .code-container-wrapper {
    grid-template-columns: 1fr;
  }
}
