* {
  box-sizing: border-box; /* Magic */
}
.trigger {
  width: 100px;
  margin: 0 auto;
}
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scaleX(1.1) scaleY(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  font-family: sans-serif;
}
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ebecf1;
  box-shadow: 0 4px 11px 0 rgba(0, 0, 0, 0.15), 0 11px 26px 0 rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  padding: 1rem 1.5rem;
  width: 100%;
  max-width: 35rem;
  border-radius: 0.5rem;
}
.close-button {
  position: absolute;
  right: 1.5rem;
  width: 20px;
  height: 20px;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  /* color: rgba(146, 146, 146, 0.5); */
  background-image: url('../images/cross.svg');
  background-repeat: no-repeat;
  background-position: center;
}
.close-button:hover {
  background-color: rgba(146, 146, 146, 0.2);
}
.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scaleX(1) scaleY(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
.dapp-name {
  margin: 0 auto;
  font-size: 1.2rem;
  text-align: center;
  text-rendering: optimizeLegibility;
}
.instructions {
  margin: 10px auto 0;
  text-align: center;
  font-size: 1rem;
}

/*
    OPTIONS
*/
.options {
  overflow: hidden;
  margin: auto -1.5rem;
}
.options-rail {
  width: 200%;
  display: flex;
  transition: transform 0.3s ease;
  transform: translateX(-0%);
}
.options-rail[data-active="hardware"] {
  transform: translateX(-50%);
}
.option-pane {
  width: 50%;
  padding: 0 1.5rem;
}
.option {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 90px;
  padding: 16px;
  margin: 20px auto;
  background: #ffffff;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.15), 0 12px 28px 0 rgba(0, 0, 0, 0.06);
  border-radius: 8px;
}
.option-wrapper {
  flex: 0.5;
  text-align: center;
}
.option-description {
  display: inline-block;
  color: #9F9F9F;
  font-size: 0.9rem;
  margin-top: 8px;
}

.metamask-option {
  background-image: url('../images/fox.svg');
  background-position: left 25px center;
  background-repeat: no-repeat;
}

.walletconnect-option {
  background-image: -webkit-image-set(
    url('../images/walletconnect-on-phone.png') 1x,
    url('../images/walletconnect-on-phone@2x.png') 2x
  );
  background-position: left 40px top 10px;
  background-repeat: no-repeat;
}

.ledger-option {
  background-image: url('../images/ledger.svg');
  background-position: left -50px top -40px;
  background-repeat: no-repeat;
}

.trezor-option {
  background-image: url('../images/trezor.svg');
  background-position: left 40px top -20px;
  background-repeat: no-repeat;
}

/*
    BUTTONS
*/
.button {
  display: flex;
  flex-direction: row;
  flex: 1;
  padding: 0 16px;
  height: 40px;  
  align-items: center;
  /* box-shadow: 0 1px 3px 0 rgba(2,2,3,.06), 0 2px 6px 0 rgba(2,2,3,.04); */
  box-shadow: 0 4px 6px 0 rgba(50, 50, 93, 0.11), 0 1px 3px 0 rgba(0, 0, 0, 0.08),
    inset 0 0 1px 0 rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  transition: 0.15s ease;
  will-change: transform;
  cursor: pointer;
}
.button span {
  flex: 1;
  color: #FFFFFF;
  text-align: center;
}

/* Metamask */
.metamask {
  background: #f6851b;
}
.metamask:hover {
  transform: translateY(-1px);
  background: #ff8d23;
  box-shadow: 0 7px 14px 0 rgba(50, 50, 93, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.08),
    inset 0 0 1px 0 rgba(0, 0, 0, 0.06);
}
.metamask:active {
  transform: translateY(1px);
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  background: #d66800;
}
.button[data-icon]::before {
  content: "";
  background-image: url('../images/metamask-icon.svg');
  width: 24px;
  height: 24px;
  margin-right: 8px; /* Temporary hack */
  background-position: center center;
  background-repeat: no-repeat;
}
/* Walletconnect */
.walletconnect {
  background: #4099ff;
}
.walletconnect:hover {
  transform: translateY(-1px);
  background: #68aeff;
  box-shadow: 0 7px 14px 0 rgba(50, 50, 93, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.08),
    inset 0 0 1px 0 rgba(0, 0, 0, 0.06);
}
.walletconnect:active {
  transform: translateY(1px);
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  background: #2b82e5;
}

/* Ledger */
.ledger {
  background: rgb(18, 18, 18);
}
.ledger:hover {
  transform: translateY(-1px);
  background: rgb(48, 48, 48);
  box-shadow: 0 7px 14px 0 rgba(50, 50, 93, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.08),
    inset 0 0 1px 0 rgba(0, 0, 0, 0.06);
}
.ledger:active {
  transform: translateY(1px);
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  background: rgb(5, 5, 5);
}

.trezor {
  background: rgb(18, 18, 18);
}
.trezor:hover {
  transform: translateY(-1px);
  background: rgb(48, 48, 48);
  box-shadow: 0 7px 14px 0 rgba(50, 50, 93, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.08),
    inset 0 0 1px 0 rgba(0, 0, 0, 0.06);
}
.trezor:active {
  transform: translateY(1px);
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  background: rgb(5, 5, 5);
}

/*
    Bottom section
*/
.bottom-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.help {
  /* Confused by these op: */
  font-size: 0.8rem;
  color: rgba(47, 47, 47, 0.62);
}

.help a {
  color: rgba(85, 123, 235, 0.72);
  text-decoration: none;
  font-size: 0.8rem;
}

/*
  OTHER OPTIONS
*/
.other-options {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
}
.other-options label {
  display: block;
  font-size: 0.8rem;
  padding: 8px 12px;
  margin: 3px;
  height: auto;
  cursor: pointer;
}
.other-options input {
  display: none;
}
.other-options input:checked ~ label {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 6px;
  transition: 0.15s ease;
  will-change: transform;
  color: rgb(103, 129, 230);
  box-shadow: 0 4px 6px 0 rgba(50, 50, 93, 0.11), 0 1px 3px 0 rgba(0, 0, 0, 0.08),
    inset 0 0 1px 0 rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  transition: 0.15s ease;
}
.other-options input:checked ~ label:hover {
  transform: translateY(-1px);
  background: rgba(255, 255, 255, 1);
  box-shadow: 0 7px 14px 0 rgba(50, 50, 93, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.08),
    inset 0 0 1px 0 rgba(0, 0, 0, 0.06);
}
.other-options input:not(:checked) ~ label {
  box-shadow: none;
}

.selected {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 6px;
  transition: 0.15s ease;
  will-change: transform;
  color: rgb(103, 129, 230);
}
.selected:hover {
  
}
.selected:active {
  transform: translateY(1px);
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  background: rgba(255, 255, 255, 0.8);
}
.other-options .button:not(.selected) {
  box-shadow: none;
}