div {
  display: grid;
  grid-template-columns: repeat(4, 80px);
  margin: -5px -10px;
  justify-content: space-between;
}

w3m-info-footer {
  flex-direction: column;
  align-items: center;
  display: flex;
  width: 100%;
  padding: 5px 0;
}

w3m-info-footer w3m-text {
  text-align: center;
}
