button {
  padding: 0 15px;
  height: 40px;
  border-radius: 10px;
  color: var(--color-fg-invers);
  background-color: var(--color-fg-accent);
}

button::after {
  content: '';
  inset: 0;
  position: absolute;
  background-color: transparent;
  border-radius: inherit;
  transition: background-color 0.2s ease-in-out;
  border: 1px solid var(--color-ovr-thin);
}

button:hover::after {
  background-color: var(--color-ovr-thin);
}

button:disabled {
  padding-bottom: 0;
  background-color: var(--color-bg-3);
  color: var(--color-fg-3);
}

.w3m-button-loading {
  padding: 0 15px;
}

.w3m-button-loading:disabled {
  background-color: var(--color-bg-accent);
}

svg {
  width: 28px;
  height: 20px;
  margin: -1px 3px 0 -5px;
}

svg path {
  fill: var(--color-fg-inverse);
}

button:disabled svg path {
  fill: var(--color-fg-3);
}

w3m-spinner {
  margin: 0 10px 0 0;
}
