:host {
  all: initial;
}

svg {
  width: 28px;
  height: 20px;
  margin: -1px 3px 0 -5px;
}

svg path {
  fill: var(--w3m-accent-fill-color);
}

button:disabled svg path {
  fill: var(--w3m-color-fg-3);
}

w3m-spinner {
  margin: 0 10px 0 0;
}
