.w3m-profile {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 20px;
}

.w3m-connection-badge {
  background-color: var(--w3m-color-bg-2);
  box-shadow: inset 0 0 0 1px var(--w3m-color-overlay);
  padding: 6px 10px 6px 26px;
  position: relative;
  border-radius: 28px;
}

.w3m-connection-badge::before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  left: 10px;
  background-color: var(--w3m-success-color);
  border-radius: 50%;
  top: 50%;
  margin-top: -5px;
  box-shadow:
    0px 1px 4px 1px var(--w3m-success-color),
    inset 0 0 0 1px var(--w3m-color-overlay);
}

.w3m-footer {
  display: flex;
  justify-content: space-between;
}

w3m-address-text {
  margin-top: 10px;
  display: block;
}

.w3m-balance {
  border-top: 1px solid var(--w3m-color-bg-2);
  padding: 11px 20px;
}
