body {
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  padding: 5px 0;
}

li span {
  color: goldenrod;
}

section {
  border: 1px solid slateblue;
  border-radius: 10px;
  padding: 20px;
  margin: 20px 0;
  overflow: scroll;
  width: 80vw;
}

section h1 {
  margin: 0;
  margin-bottom: 15px;
  font-family: sans-serif;
  color: slateblue;
}

button {
  padding: 5px 5px;
}

a {
  color: lightskyblue;
  margin: 0 10px;
}

.main {
  display: flex;
  flex-wrap: wrap;
}

.main * {
  flex-shrink: 0;
}
