body {
  background-color: rgba(0, 0, 0, 0.7);
  color: rgba(255, 255, 255, 0.9);
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#__next {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

button {
  margin: 0 10px;
  padding: 10px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.3);
  cursor: pointer;
  transition: 0.2s all ease;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

select {
  margin: 10px;
  padding: 5px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
  color: black;
  border: 1px solid rgba(0, 0, 0, 1);
  cursor: pointer;
  transition: 0.2s all ease;
}

h2 {
  margin-top: 100px;
}

.container {
  display: flex;
}
