:host {
  position: relative;
  height: 28px;
  width: 80%;
}

input {
  width: 100%;
  height: 100%;
  line-height: 28px !important;
  border-radius: var(--w3m-input-border-radius);
  font-style: normal;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Ubuntu,
    'Helvetica Neue', sans-serif;
  font-feature-settings: 'case' on;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.03em;
  padding: 0 10px 0 34px;
  transition: 0.2s all ease;
  color: var(--w3m-color-fg-1);
  background-color: var(--w3m-color-bg-3);
  box-shadow: inset 0 0 0 1px var(--w3m-color-overlay);
  caret-color: var(--w3m-accent-color);
}

input::placeholder {
  color: var(--w3m-color-fg-2);
}

svg {
  left: 10px;
  top: 4px;
  pointer-events: none;
  position: absolute;
  width: 20px;
  height: 20px;
}

input:focus-within {
  box-shadow: inset 0 0 0 1px var(--w3m-accent-color);
}

path {
  fill: var(--w3m-color-fg-2);
}
