.w3m-modal-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px;
  position: relative;
}
.w3m-modal-header button {
  background-color: transparent;
  padding: 13px 17px;
  transition: opacity 0.2s ease-in-out;
}
.w3m-modal-header button:hover {
  opacity: 0.5;
}
.w3m-back-btn {
  position: absolute;
  left: 0;
}
.w3m-action-btn {
  position: absolute;
  right: 0;
}

.w3m-modal-header {
  border-bottom: 1px solid var(--background__2);
}

.w3m-back-btn path,
.w3m-action-btn path {
  fill: var(--foreground__accent);
}
