@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

div {
  position: relative;
  user-select: none;
  display: block;
  overflow: hidden;
  width: 100%;
  aspect-ratio: 1 / 1;
  animation: fadeIn ease 0.2s;
}

svg:first-child,
w3m-wallet-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

w3m-wallet-image {
  transform: translateY(-50%) translateX(-50%);
}

w3m-wallet-image {
  width: 25%;
  height: 25%;
  border-radius: 15px;
}

svg:first-child {
  transform: translateY(-50%) translateX(-50%) scale(0.9);
}

svg:first-child path:first-child {
  fill: var(--color-fg-accent);
}

svg:first-child path:last-child {
  stroke: var(--color-overlay);
}
