button {
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  transition: background-color 0.2s ease;
  justify-content: center;
  padding: 5px;
  width: 100px;
}

button:hover {
  background-color: var(--color-overlay);
}

button > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  box-shadow: inset 0 0 0 1px var(--color-overlay);
  background-color: var(--color-fg-accent);
  border-radius: 50%;
  margin-bottom: 4px;
}

button path {
  fill: var(--color-fg-inverse);
}
