@keyframes scroll {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(calc(-70px * 10), 0, 0);
  }
}

.w3m-slider {
  position: relative;
  overflow-x: hidden;
  padding: 10px 0;
  margin: 0 -20px;
}

.w3m-slider::after,
.w3m-slider::before {
  content: '';
  height: 100%;
  width: 50px;
  z-index: 2;
  position: absolute;
  background: linear-gradient(to right, var(--w3m-color-bg-1) 0%, transparent 100%);
  top: 0;
}

.w3m-slider::before {
  left: 0;
}

.w3m-slider::after {
  right: 0;
  transform: rotateZ(180deg);
}

.w3m-track {
  display: flex;
  width: calc(70px * 20);
  animation: scroll 20s linear infinite;
}

.w3m-action {
  padding: 30px 0 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.w3m-action w3m-button-big:last-child {
  margin-top: 10px;
}

w3m-wallet-image {
  width: 60px;
  height: 60px;
  margin: 0 5px;
  box-shadow: 0px 2px 4px -2px rgba(0, 0, 0, 0.12), 0px 4px 4px -2px rgba(0, 0, 0, 0.08);
  border-radius: 15px;
}

w3m-button-big {
  margin: 0 5px;
}
