.w3m-view-row {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.w3m-mobile-title,
.w3m-desktop-title {
  display: flex;
  align-items: center;
  margin-top: -8px;
}
.w3m-mobile-title {
  justify-content: space-between;
  margin-bottom: 18px;
}
.w3m-desktop-title {
  margin-bottom: 10px;
}
.w3m-subtitle {
  display: flex;
  align-items: center;
}
.w3m-mobile-title svg,
.w3m-desktop-title svg {
  margin-right: 6px;
}
.w3m-mobile-title path,
.w3m-desktop-title path {
  fill: var(--foreground__accent);
}

.w3m-subtitle:last-child path {
  fill: var(--foreground__3);
}
