@keyframes loading {
  to {
    stroke-dashoffset: 0px;
  }
}

div {
  position: relative;
  width: 110px;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
}

svg {
  position: absolute;
  width: 110px;
  height: 110px;
  fill: none;
  stroke: transparent;
  stroke-linecap: round;
  stroke-width: 1px;
  top: 0;
  left: 0;
}

use {
  stroke: var(--w3m-accent-color);
  animation: loading 1s linear infinite;
}

w3m-wallet-image {
  border-radius: var(--w3m-wallet-icon-large-border-radius);
  width: 90px;
  height: 90px;
}
