button {
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  transition: background-color 0.2s ease;
  justify-content: center;
  padding: 5px;
  width: 100px;
}

button:hover {
  background-color: var(--w3m-color-overlay);
}

button:disabled {
  pointer-events: none;
}

w3m-network-image {
  width: 32px;
  height: 32px;
}

w3m-text {
  margin-top: 4px;
}
