button {
  display: flex;
  border-radius: var(--w3m-button-hover-highlight-border-radius);
  flex-direction: column;
  transition: all 0.2s ease;
  justify-content: center;
  padding: 5px;
  width: 100px;
}

@media (hover: hover) and (pointer: fine) {
  button:active {
    transition: all 0.1s ease;
    transform: scale(0.93);
  }
}

button:hover {
  background-color: var(--w3m-color-overlay);
}

button:disabled {
  pointer-events: none;
}

w3m-network-image {
  width: 32px;
  height: 32px;
}

w3m-text {
  margin-top: 4px;
}
