button {
  display: flex;
  border-radius: var(--w3m-button-hover-highlight-border-radius);
  flex-direction: column;
  justify-content: center;
  padding: 5px;
  width: 100px;
}

button:active {
  background-color: var(--w3m-color-overlay);
}

@media (hover: hover) {
  button:hover {
    background-color: var(--w3m-color-overlay);
  }
}

button:disabled {
  pointer-events: none;
}

w3m-network-image {
  width: 32px;
  height: 32px;
}

w3m-text {
  margin-top: 4px;
}
