:host {
  display: block;
}

div {
  overflow: hidden;
  position: relative;
  border-radius: inherit;
  width: 100%;
  height: 100%;
  background-color: var(--w3m-color-overlay);
}

svg {
  position: relative;
  width: 100%;
  height: 100%;
}

div::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: inherit;
  border: 1px solid var(--w3m-color-overlay);
}

div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

#wallet-placeholder-fill {
  fill: var(--w3m-color-bg-3);
}

#wallet-placeholder-dash {
  stroke: var(--w3m-color-overlay);
}
