div {
  height: 36px;
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9px 15px 11px;
  position: absolute;
  top: 12px;
  box-shadow:
    0px 6px 14px -6px rgba(10, 16, 31, 0.3),
    0px 10px 32px -4px rgba(10, 16, 31, 0.15);
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
  backdrop-filter: blur(20px) saturate(1.8);
  -webkit-backdrop-filter: blur(20px) saturate(1.8);
  border-radius: var(--w3m-notification-border-radius);
  border: 1px solid var(--w3m-color-overlay);
  background-color: var(--w3m-color-overlay);
}

svg {
  margin-right: 5px;
}

@-moz-document url-prefix() {
  div {
    background-color: var(--w3m-color-bg-3);
  }
}

.w3m-success path {
  fill: var(--w3m-accent-color);
}

.w3m-error path {
  fill: var(--w3m-error-color);
}
