.List {
  display: grid;
  grid-auto-rows: max-content;
  box-sizing: border-box;
  width: 100%;
  grid-gap: 10px;
  padding-bottom: 0;
  border-radius: 5px;
  transition: background-color 350ms ease;
  grid-template-columns: repeat(var(--columns, 1), 1fr);

  &.horizontal {
    width: 100%;
    grid-auto-flow: column;
  }
}
