# Obtain a project ID from https://cloud.walletconnect.com
NEXT_PUBLIC_PROJECT_ID=""
# See 1password for `NEXT_AUTH_SECRET`
NEXTAUTH_SECRET=""
# See 1password for `Mailsac Web3Modal API Key`
MAILSAC_API_KEY=""
# Only needed when overriding default next-auth URL
# NEXTAUTH_URL=""
