div {
  width: inherit;
  height: inherit;
}

.polygon-stroke {
  stroke: var(--w3m-color-overlay);
}

svg {
  width: 100%;
  height: 100%;
  margin: 0;
}

#network-placeholder-fill {
  fill: var(--w3m-color-bg-3);
}

#network-placeholder-dash {
  stroke: var(--w3m-color-overlay);
}
