@keyframes loading {
  to {
    stroke-dashoffset: 0px;
  }
}

:host {
  width: inherit;
  height: inherit;
  position: relative;
}

path {
  stroke: var(--w3m-color-overlay);
}

svg {
  width: 100%;
  height: 100%;
  margin: 0;
}

#network-placeholder-fill {
  fill: var(--w3m-color-bg-3);
}

#network-placeholder-dash {
  stroke: var(--w3m-color-overlay);
}

image {
  clip-path: path(
    'M17.033 4.964c3.852-2.262 5.778-3.393 7.84-3.77a11.807 11.807 0 0 1 4.254 0c2.062.377 3.988 1.508 7.84 3.77l6.066 3.562c3.852 2.263 5.777 3.394 7.13 5.022a12.268 12.268 0 0 1 2.127 3.747c.71 2.006.71 4.268.71 8.793v7.124c0 4.525 0 6.787-.71 8.793a12.268 12.268 0 0 1-2.126 3.747c-1.354 1.628-3.28 2.76-7.131 5.022l-6.066 3.562c-3.852 2.262-5.778 3.393-7.84 3.771a11.814 11.814 0 0 1-4.254 0c-2.062-.378-3.988-1.509-7.84-3.77l-6.066-3.563c-3.852-2.263-5.778-3.394-7.13-5.022a12.268 12.268 0 0 1-2.127-3.747C1 40 1 37.737 1 33.212v-7.124c0-4.525 0-6.787.71-8.793a12.268 12.268 0 0 1 2.127-3.747c1.352-1.628 3.278-2.76 7.13-5.022l6.066-3.562Z'
  );
}
