w3m-modal-content {
  display: flex;
  max-height: 55vh;
  overflow: scroll;
  scrollbar-width: none;
  position: relative;
  margin-top: 1px;
}

w3m-modal-content::before,
w3m-modal-content::after {
  content: '';
  position: fixed;
  pointer-events: none;
  z-index: 1;
  width: 100%;
  height: 20px;
  opacity: 1;
}

w3m-modal-content::before {
  box-shadow: 0 -1px 0 0 var(--color-bg-1);
  background: linear-gradient(var(--color-bg-1), transparent);
}

w3m-modal-content::after {
  box-shadow: 0 1px 0 0 var(--color-bg-1);
  background: linear-gradient(transparent, var(--color-bg-1));
  top: calc(100% - 20px);
}

w3m-modal-content::-webkit-scrollbar {
  display: none;
}

.w3m-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: stretch;
}

w3m-wallet-button {
  margin: calc((100% - 60px) / 3) 0;
}
