@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

svg {
  animation: rotate 2s linear infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}

.medium {
  width: 24px;
  height: 24px;
}

.small {
  width: 20px;
  height: 20px;
}

@media only screen and (max-width: 500px) {
  svg {
    margin-top: 2px;
  }
}

svg circle {
  stroke-linecap: round;
  animation: dash 1.5s ease infinite;
}

.accent {
  stroke: var(--w3m-accent-color);
}

.fill {
  stroke: var(--w3m-accent-fill-color);
}
