.w3m-canvas,
.w3m-highlight,
.w3m-gradient-placeholder,
#w3m-transparent-noise,
.w3m-color-placeholder {
  inset: 0;
  position: absolute;
  display: block;
  pointer-events: none;
  width: 100%;
  height: 100px;
  border-radius: 8px 8px 0 0;
  transform: translateY(-5px);
}

.w3m-gradient-placeholder {
  background: linear-gradient(
    var(--gradient-1),
    var(--gradient-2),
    var(--gradient-3),
    var(--gradient-4)
  );
}

.w3m-color-placeholder {
  background-color: var(--color-fg-accent);
}

.w3m-highlight {
  border: 1px solid var(--color-overlay);
}

.w3m-canvas {
  opacity: 0;
  transition: opacity 2s ease;
  box-shadow: 0px 8px 28px -6px rgba(10, 16, 31, 0.12), 0px 18px 88px -4px rgba(10, 16, 31, 0.14);
}

.w3m-canvas-visible {
  opacity: 1;
}

#w3m-transparent-noise {
  mix-blend-mode: multiply;
  opacity: 0.35;
}

.w3m-toolbar {
  height: 28px;
  display: flex;
  position: relative;
  margin: 5px 15px 5px 5px;
  justify-content: space-between;
  align-items: center;
}

.w3m-toolbar svg,
.w3m-toolbar img {
  height: 28px;
  object-position: left center;
  object-fit: contain;
}

#w3m-wc-logo path {
  fill: var(--color-fg-inverse);
}

.w3m-action-btn {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color, 0.2s ease;
  background-color: var(--color-bg-1);
  box-shadow: 0 0 0 1px var(--color-overlay), 0px 2px 4px -2px rgba(0, 0, 0, 0.12),
    0px 4px 4px -2px rgba(0, 0, 0, 0.08);
}

.w3m-action-btn:hover {
  background-color: var(--color-bg-2);
}

.w3m-action-btn svg {
  display: block;
  object-position: center;
}

.w3m-modal-action-btn path {
  fill: var(--color-fg-1);
}

.w3m-actions {
  display: flex;
}

.w3m-actions button:first-child {
  margin-right: 16px;
}

.w3m-help-active button:first-child {
  background-color: var(--color-fg-1);
}

.w3m-help-active button:first-child path {
  fill: var(--color-bg-1);
}
